@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
=======
@import "tailwindcss";
>>>>>>> d107f67a3b12ff59cd3aadcb9eaab2b6cd262257
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}